/*头部*/
.wrapper{overflow:hidden;}
.header{height:40px;line-height:40px;margin:10px 0 20px 0;}
.logo{margin-top:10px;}
h1{background:url(../images/logo.png) no-repeat left;width:140px;height:32px;
text-indent:-99999px;}
.header .search{margin:0 10px 0 180px;}
.header .info div{float:right;margin-left:20px;}

.search .sl{width:230px;height:36px;border:2px solid #a0a0a0;}
.search .sr{width:90px;height:40px;background:url(../images/search.png) no-repeat left;
border:none;margin-left:-5px;cursor:pointer;}

.login i{background:url(../images/header.png) no-repeat 0 -2px;width:16px;height:16px;
margin-top:13px;margin-right:4px;}

.uploading p{margin:0 5px 0 2px;}
.uploading i{background:url(../images/header.png) no-repeat -42px -22px;
width:16px;height:16px;margin-top:12px;}
.uploading b{background:url(../images/header.png) no-repeat -120px -5px;
width:8px;height:4px;margin-top:18px;}
/*导航*/
.nav{height:35px;line-height:35px;border-bottom:2px solid #e6e6e6;}
.nav li{float:left;margin-left:21px;}
.nav .types{font-size:15px;margin-right:7px;}
.nav .links b{background:url(../images/point.png) no-repeat right;width:3px;height:3px;
padding-right:8px;font-weight:normal;}
.nav .links i{background:url(../images/sjx.png) no-repeat right;padding-right:12px;
width:8px;height:4px;font-style:normal;}
.nav .change{width:78px;height:25px;line-height:25px;text-align:center;color:#06a7e1;
background:#f2f2f2;margin-top:4px;cursor:pointer;}
/*主体*/
.main .left{ width:660px;}
.main .right{ width:310px;}
.btn li{float:left;margin-right:20px;height:30px;line-height:30px;cursor:pointer;}
h2{font-size:23px;color:#909090;font-weight:normal;margin-right:20px;margin-top:-4px;}
.title{height:30px;line-height:30px;margin-bottom:10px;}
/*小图片*/
.pic_mini2{width:200px;height:190px;position:relative;background:#f5f5f5;float:left;margin-right:20px;}
.pic_mini2 .txt{padding:0 5px;}
.pic_mini2 span{width:;height:;position:absolute;top:95px;right:5px;color:#ddd;}
.pic_mini2 p{margin-top:12px;line-height:12px;height:12px;}
.pic_mini2 div{color:#909090;margin-top:12px;}
.pic_mini2 b{font-weight:normal;background:url(../images/b.png) no-repeat 0 2px;padding-left:16px;}
.pic_mini2 i{font-style:normal;background:url(../images/i.png) no-repeat 0 2px;padding-left:16px;}

.pic_big{ margin-right:20px; margin-bottom:20px;}
.pic_mini{position:relative;float:left; margin-right:20px;margin-bottom:20px;}
.pic_mini h3 p{position:absolute;width:194px;font-size:14px;font-weight:normal;
top:92px;left:0;color:#fff;padding-left:6px;}
.pic_mini h3 span{width:100%; height:20px; position:absolute;left:0; top:91px;
opacity:0.2;filter:alpha(opacity=20);background:#000;}
.pic_mini .pos h4{color:#fff;margin:10px 0;}
.pic_mini .pos b{width:54px;height:22px;background:#1c98e7;text-align:center;color:#fff;}
.pic_mini .pos i{background:url(../images/yk.8.png)no-repeat 0 -248px;
width:21px;height:21px;}
.pic_mini .pos p{color:#bbb;}
.pic_mini .icon{background:url(../images/yk.8.png) -180px -60px;width:37px;height:37px;
position:absolute;left:0;top:0}
 
.pic_mini .pos{width:190px; height:100%; position:absolute;left:0;top:0;z-index:3;
line-height:20px;height:20px;padding:0 5px;display:none;}
.pic_mini .bg{width:100%; height:100%; position:absolute; left:0; top:0;
opacity:0.5;filter:alpha(opacity=50);background:#000;display:none;}
.pic_mini:hover .pos{ display:block;}
.pic_mini:hover .bg{ display:block;}
.pic_mini:hover h3{display:none;}
/*首屏*/
.banner{margin-top:20px;height:370px;}

.banner .top ul{ width:200px; }


.banner .right .top{position:relative;width:310px;height:110px;margin-bottom:20px;}
.banner .right .top span{opacity:0.5;filter:alpha(opacity=50);
position:absolute;right:0;bottom:0;}
.banner .right .top span a{display:block;color:#fff;text-align:center;
width:34px;height:20px;background:#000;}
.banner .right .bottom p{color:#fff;background:#888;padding:0 5px;
width:300px;height:20px;line-height:20px;}
.banner .right .bottom p a{color:#fff;}
/*个人中心*/
.personal {margin-top:50px;height:240px;}
.personal .login{width:190px;height:190px;background-color:#f5f5f5;padding-left:10px;}
.personal .login p{color:#909090;}
.personal .login .tit{margin:22px 0 16px 0;font-size:18px;}
.personal .login .bar {width:174px;height:22px;background-color:#e7e7e7;
margin:12px 0 18px 0;}
.personal .login .bar span{background:url(../images/xx.png) no-repeat;width:20px;height:20px;
display:block;margin-left:162px;}
.personal .login .try{width:180px;height:35px;line-height:35px;text-align:center;
background:#06a7e1;color:#fff;margin-top:4px;}
.personal .per_center{width:40px;height:70px;background:#f5f5f5;padding:60px 25px;}
.personal .per_center p{width:39px;height:66px;font-size:18px;}


.create{height:370px;margin-top:26px;}
.create .left .top{height:190px;margin-bottom:20px;}
.create .right{height:320px;overflow:hidden;}
.create .right li{height:50px;margin-bottom:17px;}
.create .right div{margin-left:10px;line-height:20px;}

.tv{height:420px;margin-top:50px;}
.ranking{margin:10px 0 0 0;}
.gg{margin:20px 0;}
.hanju{height:158px;}



.pic_big{position:relative;}
.big_pos{width:410px;position:absolute;left:0;top:196px;color:#f1f1f1;padding:0 5px;}
.big_bg{width:100%; height:40px;position:absolute; left:0; top:200px;
opacity:0.1;filter:alpha(opacity=10);background:#000;}
.tv .top ul{ width:200px;}
.tv .tab{height:190px;}
.tv iframe{width:310px;height:110px;}
.tv .tab .btn{height:30px;line-height:30px;margin-bottom:10px;}
.tv .tab .content li{height:20px;line-height:20px;margin-bottom:10px;}
.tv .tab .content label{width:20px;height:20px;background:#03a7e1;color:#fff;
margin-right:10px;text-align:center;}
.tv .tab .content .hot{width:20px;height:20px;background:red;}

/*底部*/
.footer{padding-top:16px;width:1000px;}
.footer li label{color:#909090;}
.footer .links ul{margin-right:40px;}
.footer .links ul li{line-height:28px;height:28px;}
.footer .cert{margin:46px 0 58px 0;}
.footer .cert div{float:left;margin-right:48px;}
.footer .cert_f span{background:url(../images/cert.png) no-repeat 1px;width:15px;height:16px;
display:block;margin-right:4px;margin-top:4px;}
.footer .cert div p{height:25px;line-height:25px;}
.footer .qcode{width:90px;height:90px;display:block;background:url(../images/2wm.png) no-repeat;}
.footer .app{padding:20px;}
.footer .cert h6{font-size:16px;font-weight:normal;}










