/*顶部*/
.topbar{height:40px;background:#333;}
	/*顶部导航*/
.topbar_nav{overflow:hidden;}
.topbar_nav li{float:left;height:13px;line-height:13px;padding:0 7px;
margin-left:-2px;margin-top:15px;border-left:2px solid #3b4040;}
.topbar_nav li a{color:#b0b0b0;}
	/*顶部购物车*/
.topbar_car{position:relative;width:120px;height:40px;background:#424242;}
.car_mini a{height:40px;color:#b0b0b0;width:103px;padding-left:17px;display:block;}
.car_mini a i{width:19px;height:14px;margin-top:14px;
background:url(../images/car.png) no-repeat left;}
.car_mini a span{margin:12px 0 0 4px;}
.car_menu{position:absolute;right:0;top:40px;width:316px;height:98px;line-height:98px;
background:#fff;border:1px solid #eee;border-top:none;text-align:center;display:none;}
.topbar_car:hover .car_mini a{background:#fff;color:#ff6700;}
.topbar_car:hover .car_menu{display:block;}
.topbar_car:hover .car_mini a i{background:url(../images/car2.png) no-repeat left;}
	/*顶部信息*/
.topbar_info{width:85px;height:40px;line-height:40px;}
.topbar_info span{margin:0 2px 0 5px;color:#424242;}
/*头部*/
.header{height:100px;}
.header_logo{background:url(../images/logo.png) no-repeat;
width:55px;height:55px;margin-top:22px;text-indent:-99999px;}

.header_search{margin-top:26px;}

.header_nav ul{margin:41px 49px 0 0;}
.header_nav li{float:left;margin-left:36px;font-size:16px;}

.nav_txt a{color:#333;}
.header .wrapper{position:relative;}
.header_nav .pos{height:229px;position:absolute;z-index:9;left:0;top:100px;
display:none;overflow:hidden;background:#fff;}
.header_nav .pos .content{margin-left:60px;}
.header_nav .figure .pic{height:100px;padding:0 60px;border-left:1px solid #ccc;margin-left:-1px;}
.header_nav .pos .name{margin:20px 0 9px;color:#333;}
.header_nav .pos .price{color:#ff6c0a;}

.header_nav li:hover .pos{display:block;}
.header_nav li:hover .nav_txt a{color:#ff6c0a;}
.header_nav li:hover .header{border-bottom:1px solid #ccc;}

/*主屏*/
.home_top{position:relative;}
.home_top .top_sidebar{width:180px;height:422px;background:black;opacity:0.5;filter:alpha(opacity=50);
padding:19px 24px 19px 30px;position:absolute;left:0;top:0;}
.home_top .top_sidebar li{line-height:42px;font-size:12px;}
.home_top .top_sidebar li a{color:#fff;}
.home_top .top_sidebar li span{color:#fff;font-size:16px;}
.prev,.next{width:34px;height:44px;position:absolute;top:50%;margin-top:-22px;}
.prev{background:url(../images/bnr_btn_left1.png) no-repeat;left:244px;}
.next{background:url(../images/bnr_btn_right1.png) no-repeat;right:0;}
.home_top .btn{position:absolute;bottom:24px;right:35px;}
.home_top .btn div{width:10px;height:10px;background:#996d00;box-shadow:0px -3px 1px #b59647;border-radius:50%;margin-left:10px;}

.home_center{margin-top:14px;}
.home_center ul{width:234px;}
.home_center li {width:46px;height:40px;padding:23px 14px 21px 17px;background: #5f5750;
border-right:1px solid #665e57;border-bottom:1px solid #665e57;float:left;}
.home_center li i{width:48px;display:block;background:url(../images/dx.png) no-repeat center top;
padding-top:31px;font-style:normal;color:#cfcdcb;}
.home_center .pics a{float:left;margin-left:14px;}

.home_bottom{margin:40px 0 40px 0;overflow:hidden;}
.home_bottom .products{float:left;}
.home_bottom h3{font-size:21px;color:#333;font-weight:normal;}
.home_bottom .tit span{background:url(../images/bothside.png) no-repeat;display:block;width:71px;height:24px;}
.home_bottom ul{width:1240px;}
.home_bottom .products{border-top:1px solid #00c0a5;width:234px;height:337px;
margin:10px 14px 40px 0;text-align:center;background:#fafafa;line-height:100%;}
.home_bottom .products img{margin:42px 38px 30px;}
.home_bottom .products .cont{margin-bottom:40px;}
.home_bottom .products h4{color:#333;font-weight:normal;margin-bottom:10px;}
.home_bottom .products .desc{margin-bottom:20px;color:#b0b0b0;}
.home_bottom .products .price{color:#ff6709;}
/*主体*/
.main{background:#f5f5f5;padding:78px 0 60px 0;overflow:hidden;}
.main .tit{height:40px;margin-top:26px;}
.main h3{font-size:21px;color:#333;font-weight:normal;}
.main .tit span{font-size:16px;}
.main .product{width:1280px;}
.main .product li{margin:0 14px 14px 0px;width:234px;text-align:center;
background:#fff;padding-bottom:26px;}
.main .product li img{margin:20px 0 10px 10px;}
.main .product h4{color:#333;font-weight:normal;margin-bottom:9px;}
.main .product .desc{color:#b0b0b0;margin-top:10px;}
.main .product .price{color:#ff6709;}



.hardware .product li{padding-bottom:0;}
.hardware .product li img{margin:20px 0 10px 40px;}
.hardware .product_l{margin-right:14px;}
.hardware .product_r{width:1006px;}
.hardware .product .cont{margin-bottom:34px;}
.hardware .product h4{color:#333;font-weight:normal;margin-bottom:9px;}
.hardware .product .desc{margin-bottom:17px;color:#b0b0b0;}
.hardware .product .price{color:#ff6709;}
.hardware .product{width:1280px;}
.hardware{overflow:hidden;}

.main .recommend .product li img{margin:20px 0 10px 50px;}
.main .recommend .tit span{background:url(../images/bothside.png) no-repeat;display:block;width:71px;height:24px;}
.comments .product .cont{margin:30px;}
.main .comments h4{margin:20px 0 -10px;}
.main .comments .product li {width:296px;}
.main .comments .product li img{margin:0 0 10px 0;}

.footer_supports{overflow:hidden;border-bottom:1px solid #e0e0e0;}
.footer_supports span{width:135px;height:25px;padding:0 54px;margin:27px 0 27px -1px;
border-left:1px solid #e0e0e0;font-size:14px;line-height: 25px;}
.footer_info ul{line-height:100%;margin-right:108px;}
.footer_info ul li{margin-bottom:17px;}
.footer_info h6{margin:40px 0 30px 0;font-weight:normal;}
.footer_info .phone{margin-top:40px;border-left:1px solid #e0e0e0;padding-left:53px;}
.phone_number{color:#ff807f;line-height: 28px;}
.phone .online{margin-top:15px;width:118px;height:28px;border:1px solid #ff6700;line-height:28px;
background:url(../images/online.png) no-repeat 9px;padding-left:24px;}
.footer_links .v_logo div{width:82px;height:26px;}
.footer_links .logo1{background:url(../images/v-logo-3.png) no-repeat;padding-left:21px;}
.footer_links .logo2{background:url(../images/v-logo-2.png) no-repeat;padding-left:21px;}
.footer_links .logo3{background:url(../images/v-logo-1.png) no-repeat;padding-left:21px;}


.footer_links{height:37px;padding:30px 0;background:#fafafa;}
.footer_links .links{background:url(../images/logo2.png) no-repeat left;padding-left:46px;width:852px;height:36px;}
.footer_links .links a{color:#757575;}








