.wrapper{width:1200px;margin:0 auto;}
.pink{color:#ff6699;}
/*顶部*/
.top{border-bottom:1px solid #eeeeee;}
.top ul{height:19px;line-height:19px;margin:7px 0 7px 342px;overflow:hidden;}
.top li{border-left:1px dotted #ccc;padding:0 16px; margin-left:-1px;}
.top a{color:#666;}
.top .weixin{background:url(../images/weixin.png)no-repeat 0;padding-left:22px;}
.top .qq{background:url(../images/qq.png)no-repeat 22px;padding-left:41px;}
.top .shopcar{background:url(../images/shopcar.png) no-repeat 17px;padding-left:43px;}
.shopcar i{font-style: normal;width:19px;height:14px;background:#ff6699;
margin:3px 0 0 2px;color:#fff;line-height:14px;text-align:center;}
.top .indent{background:url(../images/indent.png) no-repeat 23px;padding-left:42px;}
.top .member{background:url(../images/member.png) no-repeat 18px;padding-left:40px;}
.top .down_app{background:url(../images/down_app.png) no-repeat 25px;padding-left:42px;}
/*头部*/
.header{height:84px;}
.header div{height:44px;margin-top:40px;}
.header .logo{background:url(../images/logo.png) no-repeat;width:117px;margin-right:15px;text-indent:-99999px;}
.header .logo_txt{background:url(../images/logo_txt.png) no-repeat 0 14px;width:144px;
margin-right:84px;}
.header img{margin-top:21px;}
.header .app{background:url(../images/app.png) no-repeat;width:143px;}
/*导航*/
.nav{margin-top:54px;border-bottom: 2px solid #ff6699;}
.nav ul{height:30px;margin-left:22px;}
.nav li{float:left;margin-right:44px;}
/*侧边栏*/
.sidebar{width:198px;height:572px;border:1px solid #e6e6e6;padding:0 20px;}
.sidebar ul{overflow:hidden;}
.sidebar li{width:198px;height:87px;padding:15px 0 12px 0;
border-bottom:1px dotted #cccccc;margin-bottom:-1px;}
.sidebar h3{font-size:14px;font-weight:normal;}
.sidebar .categories{margin-top:6px;}
.sidebar a{float:left;margin-right:15px;line-height:24px;}
/*侧栏右广告*/
.banner ul{margin-top:9px;}
.banner li{float:left;margin-left:10px;}
/*商品*/
.sales{overflow:hidden;}
.part1,.part2,.part3,.part5,.part6,.part7{margin-top:46px;}

.sales ul{width:1221px;}
.sales li{margin:20px 20px 0 0;}
.sales li .price{font-size:14px;color:#ffa3bf;}
.sales li .cont{margin-top:18px;}
.sales .tit{border-bottom:1px solid #ededed;}
.sales .tit h3{font-size:20px;color:#666;font-weight:normal;background:#fff;height:20px;margin-right:5px;}
.sales h5{color:#666;font-size:14px;font-weight:normal;}
.sales .tit span{color:#999;font-size:12px;margin-left:10px;}
.sales .tit a{color:#808080;height:12px;padding-right:10px;margin-right:3px;
background:url(../images/btn_r.png) no-repeat right; }
/*商品第一块*/
.part1,.part6 .pic_r img{margin:0 0 2px 2px;}
/*商品第二块*/
/*商品第三块*/
.part3,.part7 li b{font-style:normal;color:#969595;background:url(../images/xx.png) no-repeat left;
padding-left:12px;}
/*商品第四块*/
.part4 {margin-top:26px;}
.part4 li,.part5 li{width:386px;line-height:24px;}
.part4 li b{font-style:normal;text-decoration:line-through;color:#969595;}
.part4 li i,.part5 li i,.part6 li i{color:#969595;font-style:normal;}
/*商品第五块*/
.part5 li b{font-style:normal;text-decoration:line-through;color:#969595;margin-left:30px;}
.part5 li p{background:url(../images/pill.png) no-repeat;padding-left:40px;color:#ff6699;}
/*商品第六块*/
.part6 .btn{margin-top:22px;}
.part6 .btn a{margin-right:42px;font-size:15px;}
.part6 li {text-align:center;line-height:24px;}
.part6 li h5{font-size:20px;margin-top:20px;}
/*商品第七块*/
/*底部*/
.footer{background:#f5f5f5;border-top:1px solid #dddddd;margin-top:77px;padding-top:35px;height:316px;}
.footer .phone{width:187px;background:url(../images/phone.png) no-repeat;padding-left:48px;margin-right:48px;}
.footer ul{margin-right:50px;}
.footer ul li{margin-top:12px;}
.focus .sina{background:url(../images/xl.png) no-repeat;padding-left:21px;}
.focus .qq{background:url(../images/qqkj.png) no-repeat;padding-left:21px;}
.focus .tx{background:url(../images/txwb.png) no-repeat;padding-left:21px;}



























