@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
a{ text-decoration:none; }
li{ list-style:none; }
.fl{ float:left; display:inline;}
.fr{ float:right;display:inline;}
img{ vertical-align:top; }
.clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1;}
.wrapper{ width:980px; margin:0 auto;}

body{ font-size:12px;}
a{ color:#3e4545;}
.wrapper{width:980px; margin:0 auto; position:relative;}
.orange{color:#f76120;}
.black{ color:#333;}
.green{ color:#2bb8aa; }
.over{ overflow:hidden;}
input{ outline:none; cursor:pointer;}