/* CSS Document */

*{ margin:0px; padding:0px;}
body{ font-size:12px; font-family:"΢���ź�"; height:2000px;}
a{ text-decoration:none; color:#999999;}
li{ list-style:none;}
img{ display:block; }
img,input,select,textarea{ vertical-align:top; border:none;}

.fl{ float:left;}
.fr{ float:right;}
.clearFix{ zoom:1; }
.clearFix:after{ content:''; display:block; clear:both; }
.wrapper1{width:980px;margin:0 auto;}
