/*顶部*/
.hd{height:30px;line-height:30px;border-bottom:1px solid #ddd;}
.hd li{float:left;height:14px;line-height:14px;margin-top:10px;}
.hd.collect{background:url(../images/top_star.png) no-repeat;padding-left:16px;}
.hd .log_in{margin:10px 14px 0 18px;}
.phone_mt{border-left:1px solid #ddd;height:14px;margin-left:10px;padding-left:30px;
background:url(../images/top_phone.png) no-repeat 18px ;}
.phone_mt p{background:url(../images/arrow_down.png) no-repeat 54px;width:60px;}
.top_r{}
.top_r li{border-right:1px solid #ddd;padding:0 12px;
background:url(../images/arrow_down.png) no-repeat 62px;}
.top_r .shopcar{background-position:90px;}
.top_r .shopcar p{background:url(../images/shopcar.png) no-repeat;padding-left:20px;}
.top_r .shopcar span{color:#f76120;}
.top_r .order, .top_r .more{border:none;}
/*头部*/
.header .banner{position:relative;}
.header .banner span{width:8px;height:8px;position:absolute;right:8px;top:8px;cursor:pointer;
background:url(../images/xxx.png) no-repeat;}
.logo_search{margin-top:22px;height:70px;}
.header h1{text-indent:-9999px;background:url(../images/base.vdd88fa40.png) no-repeat 0 -78px;
height:54px;width:82px;}
.city{margin-left:10px;margin-top:8px;width:100px;}
.city p{color:#000;font-weight:bold;padding-left:2px;font-size:17px;}
.city a{display:block;width:58px;height:20px;border:1px solid #eee;text-align:center;line-height:20px;}
.search{margin-left:108px;}
.search_box{border:3px solid #2db8ad;width:587px;height:40px;}
.search ul{background:#fafafa;border-right:1px solid #dddddd;width:62px;height:40px;line-height:40px;}
.search ul li{text-align:center;cursor:pointer;}
.search_tab{position:relative;}
.search_tab span{background:url(../images/arrow_down.png) no-repeat;width:6px;height:3px;
position:absolute;left:48px;top:18px;}
.search_txt{width:445px;height:40px;}
.search_btn{width:79px;height:40px;background:#2db8ad;color:#fff;
font-size:14px;cursor:pointer;}
.s-hot{margin-top:5px;}
.s-hot a{float:left;margin-right:22px;}
.commitment{margin-left:82px;}
.commitment span{margin-left:28px;}
.commit1{background:url(../images/base.vdd88fa40.png) no-repeat -10px -30px;height:42px;width:36px;}
.commit2{background:url(../images/base.vdd88fa40.png) no-repeat -75px -30px;height:42px;width:60px;}
.commit3{background:url(../images/base.vdd88fa40.png) no-repeat -160px -30px;height:42px;width:36px;}

.nav{height:38px;}
.nav h2{background:#2bb8aa;color:#fff;width:199px;height:30px;padding:8px 0 0 15px;}
.nav ul{margin-top:14px;}
.nav li{float:left;margin-left:30px;font-weight:bold;font-size:14px;}
.nav li a{color:#333;}
.nav .app{margin-top:14px;}
.nav .clock{background:url(../images/clock.png) no-repeat;padding-left:22px;color:#f66022;}
.nav .app span{width:18px;height:18px;background:url(../images/app2wm.png);margin-right:5px;}

.sidebar{border:2px solid #2bb6aa;width:190px;height:464px;padding:0 10px 14px;position:relative;}
.sidebar div{width:190px;border-bottom:1px solid #eee;padding:10px 0;}

.sidebar ul li{float:left;position:absolute;left:210px;top:0;height:478px;width:210px;
background:#fff;display:none;border:1px solid #ccc;}
.sidebar ul li.show{display:block;}

.sidebar h3{color:#333;font-size:14px;}
.sidebar h3 span{color:#fff;background:#2bb6aa;font-weight:normal;padding:1px;margin-left:2px;}
.sidebar a{color:#666;}
.scr_c{width:750px;height:479px;border:1px solid #e8e8e8;border-top:2px solid #2bb8aa;
border-left:none;padding:0 8px;}
.scr_links ul{border-bottom:1px solid #ccc;height:13px;padding:17px 0;}
.scr_links li{float:left;margin-right:21px;}
.scr_links li a:hover{color:#f76120;}

.screen h5{color:#999;font-weight:normal;background:url(../images/hot.png) no-repeat 0 2px;padding-left:20px;}
.screen .select .title{height:45px;line-height:45px;}
.screen .select li{margin-right:2px;}
.screen .select h4{font-size:14px;}
.screen .select .btn{margin-right:18px;}
.screen .select .btn span{width:10px;height:10px;background:#ccc;float:left;
border-radius:5px;margin-top:18px;margin-left:8px;}
.select .btn span.on{background:#2bb8aa;}
.select ul{display:none;}
.select ul.show{display:block;}

.scr_cont{background:url(../images/src_c_bg.png) no-repeat;height:40px;width:265px;padding:10px 0 0 10px;}
.scr_cont i{color:#999;font-style:normal;}
.screen .select .content{border-bottom:1px solid #e8e8e8;}
.scr_price{font-size:16px;line-height:50px;height:50px;text-align:center;width:98px;}
.scr_price b{font-size:12px;}

.scr_r{width:206px;border:1px solid #e8e8e8;border-top:2px solid #2bb8aa;}
.scr_r .tit{height:37px;line-height:37px;padding:0 10px;}
.scr_r .prize{height:138px;background:url(../images/above-of-fold3.jpg) no-repeat;
display:block;padding-left:10px;padding-top:20px;}
.scr_r .prize b{font-size:15px;}
.scr_r .ing{height:70px;border-top:1px dotted #ddd;border-bottom:1px dotted #ddd;
padding-left:10px;padding-top:20px;}
.scr_r .ing a{height:18px;line-height:18px;display:block;}
.scr_r .tues{height:178px;background:url(../images/above-of-fold4.jpg) no-repeat;display:block;
padding-left:10px;padding-top:12px;}
.tues p{font-size:20px;color:#060606;}
.tues i{font-style:normal;}

.cost{width:980px;height:290px;overflow:hidden;border:1px solid #eee;margin-top:14px;}
.cost .countdown{height:45px;background:#f6f6f6;margin-bottom:15px;line-height:45px;}
.countdown strong{color:#323232;font-size:20px;margin-right:15px;padding-left:24px;
background:url(../images/clock2.png) no-repeat 0 12px;}
.countdown .run{font-size:14;color:#999;height:45px;line-height:45px;margin-right:5px;}
.countdown span{background:#a9abb1;color:#fff;width:30px;height:26px;line-height:26px;
text-align:center;margin-right:5px;margin-top:10px;}
.countdown input{width:76px;height:20px;background:#f2f2f2;border:1px solid #e3e3e3;
margin-top:12px;margin-right:15px;cursor:pointer;}
.cost ul{width:1018px;margin-left:15px;}
.cost li{height:207px;float:left;width:207px;margin-right:38px;}
.cost li .txt p{margin-top:20px;height:42px;}
.cost li .txt b{font-weight:normal;font-size:13px;}
.cost li .txt i{background:#f76120;font-style:normal;color:#fff;}

.app_phone{width:206px;height:288px;border:1px solid #e8e8e8;margin-top:14px;}
.app_phone li{width:186px;height:52px;padding:22px 10px;}
.app_phone .mt_bg{background:url(../images/mt.png) no-repeat;width:53px;height:53px;margin-right:17px;}
.app_phone li p{font-size:16px;color:#323232;}
.app_phone li span{background:url(../images/freedownload.png) no-repeat;display:block;
width:76px;height:23px;margin-top:10px;color:#fff;line-height:23px;padding-left:13px;}
.mt_bg_c{border-top:1px dotted #ddd;border-bottom:1px dotted #ddd;}

.box{width:980px;}
i{font-style:normal;}
/*美食*/
.food{ margin-top:35px; overflow:hidden; }
.head{ height:27px; border-bottom:2px solid #e8e8e8; padding-bottom:10px; }
.head .tit{ font-size:22px; color:#010101; height:24px; line-height:24px; }
.food .head .pic{ background:url(../images/pic.png) no-repeat -81px 0; width:24px; height:24px; margin-right:8px; }
.head ul{ height:25px; }
.head li{ padding:0 10px;border-right:1px solid #dddddd; height:18px; line-height:18px; text-align:center; }
.head li a{ font-size:14px; color:#999; }
.head .all{ width:50px; height:24px; border:1px solid #ddd; line-height:24px; text-align:center; }

.msg{ width:990px; }
.msg .fd{ width:312px; height:348px; margin:15px 15px 15px 0;  border:1px solid #ddd;}
.msg .foodpic{ width:314px; height:193px; position:relative; }
.foodpic img{ width:313px; height:193px; }
.foodpic ul{ position:absolute; left:10px; top:-4px; }
.foodpic .bg1{ background:url(../images/pic1.png) no-repeat 0 -84px; width:43px; height:40px; }
.foodpic .bg2{ background:url(../images/pic1.png) no-repeat 0 -252px; width:43px; height:40px; }
.foodpic .bg3{ background:url(../images/pic1.png) no-repeat 0 -294px; width:43px; height:40px; }
.foodpic .bg4{ background:url(../images/pic1.png) no-repeat 0 -168px; width:43px; height:40px; }
.fd .txt{ margin:0 16px 0 16px; height:120px; }
.fd .txt a{ font-size:16px; color:#333; height:32px; line-height:32px; font-weight:blod; }
.fd .txt p{ line-height:18px; }
.txt .price{ margin-top:20px; height:20px; }
.txt .price span{ color:#f76120; font-size:12px;}
.txt .price b{ font-size:20px; margin-right:18px; }
.txt .price div{ font-size:12px; color:#999; margin-top:8px; }
.txt .price i{ text-decoration:line-through; }
.fd .pj{ height:35px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#fafafa; padding:0 16px; line-height:35px; }
.fd .pj i{ color:#f76120; }
.fd .pj b{ width:60px; height:12px; background:url(../images/pic2.png) repeat-x; margin-right:6px; margin-top:11px; }

.foot{ width:978px; height:36px; border:1px solid #ddd; background:#fafafa; position:relative; }
.foot p{ font-size:16px; color:#333;  position:absolute; left:50%; top:50%; height:16px; margin-left:-108px; margin-top:-10px; }
.foot span{ background:url(../images/more.png) no-repeat; margin-left:5px; width:13px; height:13px;margin-top:4px;}

/*娱乐*/
.relax{ margin-top:55px; overflow:hidden; }
.relax .head .pic{ background:url(../images/pic.png) no-repeat 0 -42px; width:20px; height:20px; margin-right:8px; }


/*电影*/
.movie{ margin-top:55px; position:relative;  }
.movie .head .pic{ background:url(../images/pic.png) no-repeat 0 -21px; width:20px; height:20px; margin-right:8px; }
.movie .left{ width:42px; border:1px solid #ddd; position:absolute; left:-55px; top:37px; }
.movie .left li{ border-bottom:1px solid #ddd; padding:10px 9px; }
.movie .left li span{ display:block; background:url(../images/pic.png) no-repeat -44px 0; width:13px; height:17px; margin-left:5px; }
.movie .left li a{ font-size:12px; color:#999; }
.movie .left li:hover .left a,.left span{ color:#fff; }
.movie .left li:hover{ background:#fa856f; }

.movie .right{ width:206px; height:216px; border:1px solid #ddd; position:absolute; right:-230px; top:37px; padding:17px 10px 5px 10px; }
.movie .right .tit{ height:17px; }
.movie .right h3{ font-size:17px; color:#333; }
.tw li{ height:50px; padding:20px 0; border-bottom:1px dotted #ddd; }
.tw .bt{ border-bottom:none; }
.tw li img{ width:80px; height:50px; }
.tw div{ width:96px; margin-left:10px; }
.tw p{ font-size:12px; color:#666; line-height:18px; }
.tw span{ font-size:12px; color:#f76120; margin-right:6px; }
.tw b{ text-decoration:line-through; color:#999; }


/*酒店*/
.hotel{ margin-top:55px; }
.hotel .head .pic{ background:url(../images/pic.png) no-repeat -82px -115px; width:20px; height:20px; margin-right:8px; }



/*生活服务*/
.life{ margin-top:55px; }
.life .head .pic{ background:url(../images/pic.png) no-repeat 0 -84px; width:20px; height:20px; margin-right:8px; }


/*购物*/
.shopping{ margin-top:55px; }
.shopping .head .pic{ background:url(../images/pic.png) no-repeat -82px -138px; width:20px; height:20px; margin-right:8px; }

/*丽人*/
.beauty{ margin-top:55px; }
.beauty .head .pic{ background:url(../images/pic.png) no-repeat 0 -63px; width:20px; height:20px; margin-right:8px; }

/*旅游*/
.travel{ margin-top:55px; }
.travel .head .pic{ background:url(../images/pic.png) no-repeat -63px -114px; width:20px; height:20px; margin-right:8px; }

/*选项卡*/
.option{ margin-top:35px; margin-bottom:20px; border:1px solid #ddd; height:124px; width:978px; }
.option .top{ border-bottom:1px solid #ddd; background:#fdfdfd; height:41px; }
.option .top li{ height:41px; padding:0 16px; border-right:1px solid #ddd; line-height:41px; }
.option .top li.on{ border-top:2px solid #2eb6aa; color:#333; height:39px; background:#fff; border-bottom:1px solid #fff }
.option a{ font-size:14px; color:#00bbbb; }
.option .options{ margin-left:20px; margin-top:10px; }
.option .options li{ float:left; margin-right:20px; }
.options li a{font-size:12px; color:#3e4545; line-height:22px;}
.option .options{ display:none; }
.option .options.show{ display:block; } 





/*footer*/
.mt_content{ margin-top:8px; }
.mt_content a{color:#999999;}
.mt_content .hd{ height:29px;border:1px solid #ccc; }
.mt_content .hd_l a{ height:29px; padding:0 29px 0 20px; line-height:29px; color:#333333;border-left:1px solid #ccc;
		border-right:1px solid #ccc; margin-left:-1px;}
.mt_content .hd_l a.on{ border-top:2px solid #2bb8aa;margin-top:-1px; color:#2bb8aa;}
.mt_content .hd_r div{ float:left; margin-left:22px;line-height:29px;}
.mt_content .hd_r input{ background:#fff; height:11px;width:11px;border:1px solid #ccc;}
.mt_content_l ul{ margin-top:10px;width:736px;}
.mt_content_l li{ width:350px;height:370px; border:1px solid #ccc; position:relative;margin:0 16px 16px 0;}
.mt_content_l li img{ margin-bottom:7px;}
.mt_content_l .p1 ,.mt_content_l .p2 {  margin-top:11px; padding-left:16px;}
.mt_content_l .p1 a{ color:#000;font-size:16px;}
.mt_content_l .p2 { font-size:14px;height:73px;border-bottom:1px solid #ccc;}
.much{ height:20px;position:absolute; left:0;bottom:48px; }
.much div{ padding-left:16px; }
.much div i{ font-style:normal;font-size:20px;font-weight:bold; }
.much span,.much a{ margin-top:5px;margin-right:5px;}
.red{ color:#f76120;} 
.num{  height:33px;background:#fafafa;line-height:33px;padding:0 16px;border:1px solid #fff;}
.num .star{ width:60px; height:33px; background:url(../images/a-2.png) no-repeat 0;margin-right:5px;}
.mt_content_l .posit{ height:40px;position:absolute;left:10px;top:-4px;}
.mt_content_l .posit1,.mt_content_l .posit2,.mt_content_l .posit3{width:42px;height:40px; }
.mt_content_l .posit1{ background:url(../images/deallist.vb47e168b.png) no-repeat 0 -294px;}
.mt_content_l .posit2{ background:url(../images/deallist.vb47e168b.png) no-repeat 0 -168px;margin-left:-2px;}
.mt_content_l .posit3{ background:url(../images/deallist.vb47e168b.png) no-repeat 0 -252px;margin-left:-2px;}
.onload{ width:718px;height:41px;border:1px solid #ccc;text-align:center; line-height:41px;}
.page{ margin:40px 0 66px 184px;}
.page div{ float:left; width:34px;height:34px;border:1px solid #ccc;margin-right:5px;line-height:34px;text-align:center;}
.page a{ display:block; color:#2bb8aa; }
.page .p_last{ width:68px; background:url(../images/b-1.png) no-repeat 56px;}
.page div a:hover{ background:#2bb8aa;border:1px solid #54c8bc;color:#fff;}

.mt_content_r{ width:240px;margin-top:10px;}
.ul_1,.ul_2,.ul_3,.ul_4,.ul_5{ border:1px solid #ccc;margin-bottom:20px; }
.mt_content_r .ul_1 li{width:126px;height:112px;border-top:1px dashed #ccc;margin:0 auto;margin-top:-1px;padding-left:73px;}
.mt_content_r .ul_1 a{ display:block;margin-top:35px; font-size:18px;font-weight:bold;color:#000;}
.mt_content_r .ul_1 input{ height:24px;font-size:12px;color:#fff;border:0;margin-top:11px;padding:0 27px 0 13px;cursor:pointer;}
.mt_content_r .btn1{ background:url(../images/a-4.png) no-repeat 0 34px;}
.mt_content_r .btn2{ background:url(../images/a-5.png) no-repeat 0 34px;}
.mt_content_r .btn1 input{ background:#3acfb8 url(../images/a-6.png) no-repeat 67px; }
.mt_content_r .btn2 input{ background:#f46c57 url(../images/a-7.png) no-repeat 67px; }

.mt_content_r .ul_2{ height:462px;}
.ul_2 li,.ul_3 li,.ul_5 li{width:200px;margin:0 auto; margin-bottom:10px;}
.ul_2 h3 a,.ul_3 h3 a{ font-size:16px;color:#000; }
.ul_2 h3,.ul_3 h3{ margin-top:14px;}
.ul_3 li{ height:200px; border-bottom:1px dashed #ccc;margin-top:18px;}
.ul_3 .last{ border-bottom:none;}
.ul_3 .one{ height:12px; border-bottom:none; }
.ul_3 .like{ margin-top:10px;padding-left:3px;}
.ul_3 .like i{ font-style:normal;font-size:20px;margin-right:18px; font-weight:bold;}
.ul_3 p{ margin-top:10px;}
.ul_3 .like span{ margin-top:6px;}
.ul_3 p a{ color:#000;font-size:16px; }

.ul_5{ position:relative;padding-top:120px;}
.ul_5 .sch_zp{width:238px;height:120px; position:absolute; top:0;left:0;background:url(../images/a-5.jpg) no-repeat;border-bottom:none;}
.sch_zp input{ width:91px; height:23px;background:#82c464;border:none;color:#fff; position:absolute;left:16px;top:76px;cursor:pointer;}

.ul_5 li{width:160px; border-bottom:1px dashed #ccc; height:75px;line-height:22px;padding-left:40px;}
.ul_5 .one{ background:url(../images/a-8.png) no-repeat 0px 20px;}
.ul_5 .two{ background:url(../images/a-9.png) no-repeat 0px 20px;}
.ul_5 .three{ background:url(../images/a-10.png) no-repeat 0px 20px;border-bottom:none;}
.ul_5 a { display:block;}
.ul_5 h3 a{color:#000;display:block;padding-top:15px; }
.ul_5 a:hover{ color:#900;}

.friend_link{ border:1px solid #ccc;}
.friend_link .f_hd{ height:41px; border-bottom:1px solid #ccc;line-height:41px;background:#fafafa;}
.f_hd li{ float:left;height:40px;}
.f_hd li a{ height:39px;display:block; padding:0 16px;color:#00bbbb; border-left:1px solid #ccc;border-right:1px solid #ccc;margin-left:-1px;}
.f_hd li a.on{ border-top:2px solid #00bbbb;height:40px;background:#fff; color:#000;font-weight:bold; }
.friend_link div{ padding-top:11px;display:none;padding-bottom:5px;}
.friend_link div span{ margin-left:20px;line-height:20px;}
.friend_link div.show{ display:block; }

.footer{ margin-top:20px;border-top:4px solid #3aa2a2;background:#f6f6f6;padding-bottom:40px; }
.footer ul{ width:162px;height:156px;padding-left:25px;padding-top:24px;border-left:1px dashed #ccc;border-right:1px dashed #ccc;margin-right:-1px;margin-bottom:34px;}
.footer .tit{ font-size:14px; margin-bottom:12px;background:none;padding-left:0;}
.footer li{ line-height:20px;padding-left:16px; background:url(../images/b-3.png) no-repeat 4px;}
.footer .end{ width:202px;height:92px;padding-top:88px;background:url(../images/c-4.png) no-repeat center 20px;}
.footer .end li{background:none;}
.add_blue{ margin-bottom:15px;}
.add_blue a{  color:#2bb8aa;}
.footer li a:hover{ color:#f00;}

.footer_t{ position:relative;height:34px;}
.footer_t p {text-align:center;width:100%；}
.footer_img{ padding-top:10px;padding-left:198px;}
.footer_img img{ margin-right:14px;}