@charset "utf-8";
/* CSS Document */
.hd{ height:39px; background:#f5f5f5; border-bottom:1px solid #FFF; }
.hd .top a{ color:#666666; line-height:39px; font-size:12px;}
.hd .top .zhu_left a:hover{ color:#f76120;}
.hd .top .zhu_left .a1{ border-right:1px solid #999; padding-right:11px;}
.hd .top .zhu_right{width:92px; height:16px; margin-left:12px;}
.hd .top .zhu_right b{ width:10px; height:16px; background:url(../images/2.png.png) no-repeat 0 -154px; margin-top:10px; margin-right:4px;}
.hd .top .zhu_right span{ width:61px; height:16px; background:url(../images/3.png) no-repeat 55px 8px; margin-top:10px; line-height:19px;}
.hd .top .zhu_right ul{display:none; width:93px; background:#FFF; height:100px; border:1px solid #000;}
.hd .top .zhu_right:hover ul{ display:block; position:absolute; top:39px; z-index:80;}
.hd .top .ding_right li a{ padding:0px 10px 0px 10px;}
.hd .top .ding_right ul li .a2{ border-right:1px solid #999; padding-right:22px; background:url(../images/3.png) no-repeat 65px 4px;}
.hd .top .ding_right ul li .a3{ border-right:1px solid #999; padding-right:22px; background:url(../images/3.png) no-repeat 93px 4px;}
.hd .top .ding_right ul li .a3 strong{display:inline-block; width:14px; height:12px; background:url(../images/4.png) no-repeat center; margin-right:9px; }
.hd .top .ding_right ul li .a3 span{color:#F30;}
.hd .top .ding_right ul li .a4{ border-right:none; padding-right:22px; background:url(../images/3.png) no-repeat 40px 4px;}
.hd .top .ding_right .naobu{ position:absolute;width:60px; height:100px; border:1px solid #000; background:#FFF; z-index:100;}
.hd .top .ding_right .naobu1{ right:418px; top:39px; display:none;}
.hd .top .ding_right .naobu2{ right:348px; top:39px; display:none;}
.hd .top .ding_right .naobu3{ right:267px; top:39px; display:none;}
.hd .top .ding_right .naobu4{ right:156px; top:39px; display:none;}
.hd .top .ding_right .naobu5{ right:75px; top:39px; display:none;}
.hd .top .ding_right .naobu6{ right:-8px; top:39px; display:none;}
.hd .top .ding_right ul .n1:hover .naobu1{ display:block;} 
.hd .top .ding_right ul .n2:hover .naobu2{ display:block;}
.hd .top .ding_right ul .n3:hover .naobu3{ display:block;}
.hd .top .ding_right ul .n4:hover .naobu4{ display:block;}
.hd .top .ding_right ul .n5:hover .naobu5{ display:block;}
.hd .top .ding_right ul .n6:hover .naobu6{ display:block;}
/*hd*/
.ding2{ background:url(../images/1.png) repeat-x top; padding-top:36px; }
.ding2 h1{width:82px; height:64px;background:url(../images/2.png.png) no-repeat 0px -72px; text-indent:-9999em;}
.ding2 .diqv{ margin-left:10px; height:64px; width:60px;}
.ding2 .diqv h2{ line-height:29px; font-size:16px; margin-top:5px;}
.ding2 .diqv p{ font-size:12px; color:#999999; width:58px; height:20px; border:1px solid #eeeeee; line-height:20px; text-align:center;}
.ding2 .sou{width:496px; height:66px; margin-left:94px; float:left; margin-top:5px; }
.ding2 .sou .suo{width:490px; height:40px; border:3px solid #2db8ad; position:relative;}
.ding2 .sou .suo .tuan{ width:62px; height:40px; background:#fafafa url(../images/3.png) no-repeat 49px 19px; border:1px solid #dddddd; border-top:none;border-bottom:none;border-left:none; border-right:1px solid #dddddd; line-height:40px; text-indent:15px; font-size:14px; color:#666666;}
.ding2 .sou .suo ul{ width:61px;background:#fafafa; border:1px solid #dddddd; line-height:30px; text-indent:15px; font-size:14px; color:#666666; border-top:none; position:absolute; z-index:20;}
.ding2 .sou .suo .xia ul{ display:none;}
.ding2 .sou .suo .xia:hover ul{ display:block;}
.ding2 .sou .suo ul li{ cursor:pointer;}
.ding2 .sou .suo ul li:hover{ background:#FFF;}
.ding2 .sou .suo .input1{ width:348px; height:40px; border:none;}
.ding2 .sou .suo .input2{width:79px; height:40px; border:none; background:#2db8ad; font-size:14px; color:#FFF;}
.ding2 .sou .lian{ width:496px; height:28px; font-size:12px; line-height:28px; overflow:hidden;}
.ding2 .sou .lian a{ color:#666; margin-right:14px;}
.ding2 .ren{ height:75px; margin-top:7px;}
.ding2 .ren ul{}
.ding2 .ren ul li{ margin:0 15px;}
.ding2 .ren ul li .div1{ width:36px; height:42px; background:url(../images/2.png.png) no-repeat -10px -30px;}
.ding2 .ren ul li .div2{ width:60px; height:42px; background:url(../images/2.png.png) no-repeat -75px -30px;}
.ding2 .ren ul li .div3{width:36px; height:42px; background:url(../images/2.png.png) no-repeat -161px -30px;}
/*搜索框*/
.quan ul{ border-bottom:2px solid #2bb8aa; height:38px; margin-top:12px;}
.quan ul li{ padding:0 15px; float:left; font-size:14px;line-height:38px;}
.quan ul li a{color:#333333;}
.quan ul .on{ width:215px; height:38px; background:#2bb8aa url(../images/6.png) no-repeat 210px 15px; color:#FFF; line-height:38px; margin-right:15px;}
.quan ul .on a{color:#FFF;}
/*全部分类*/
.guang{ position:relative; margin-top:10px;}
.guang span{ background:url(../images/5.png) no-repeat left; display:block; width:8px; height:8px; position:absolute; top:7px; right:7px; cursor:pointer; z-index:9;}
/*广告*/
.big{ border:1px solid #e8e8e8; margin-top:10px; font-size:12px; overflow:hidden}
.big .hot{ background:#f8f8f8; line-height:35px;}
.big .hot a{ margin-left:15px;}
.big ul{ width:950px; margin:0 auto; margin-bottom:-1px;}
.big ul li{ padding:12px 0px;border-bottom:1px dashed #dbdbdb;}
.big ul li a{ float:left; line-height:27px; }
.big ul li .h{ height:100%;}
.big ul li .w{width:910px;}
.big ul li .w a{ margin-left:20px;}
.big ul li .w .back{ background:#2bb8aa; color:#FFF; height:19px; margin-top:4px; line-height:19px; padding:0 5px;}
.big ul li span{ display:inline-block; height:19px; padding:0 5px; border:1px solid #2bb8aa;}
.big ul li b{height:19px; line-height:19px; display:inline-block;}
.big ul li span a{line-height:19px; color:#2bb8aa;}
.big ul li .hehe{ border:none;}
.big ul li .hehe a{color:#333;}
/*目录*/
.mt_content{ margin-top:8px; }
.mt_content a{color:#999999;}
.mt_content .hd{ height:29px;border:1px solid #ccc; }
.mt_content .hd_l a{ height:29px; padding:0 29px 0 20px; line-height:29px; color:#333333;border-left:1px solid #ccc;
		border-right:1px solid #ccc; margin-left:-1px;}
.mt_content .hd_l a.on{ border-top:2px solid #2bb8aa;margin-top:-1px; color:#2bb8aa;}
.mt_content .hd_r div{ float:left; margin-left:22px;line-height:29px;}
.mt_content .hd_r input{ background:#fff; height:11px;width:11px;border:1px solid #ccc;}
.mt_content_l ul{ margin-top:10px;width:736px; display:none;}
.mt_content_l .show{ display:block}
.mt_content_l li{ width:350px;height:370px; border:1px solid #ccc; position:relative;margin:0 16px 16px 0;}
.mt_content_l li img{ margin-bottom:7px;}
.mt_content_l .p1 ,.mt_content_l .p2 {  margin-top:11px; padding-left:16px;}
.mt_content_l .p1 a{ color:#000;font-size:16px;}
.mt_content_l .p2 { font-size:14px;height:73px;border-bottom:1px solid #ccc;}
.much{ height:20px;position:absolute; left:0;bottom:48px; }
.much div{ padding-left:16px; }
.much div i{ font-style:normal;font-size:20px;font-weight:bold; }
.much span,.much a{ margin-top:5px;margin-right:5px;}
.red{ color:#f76120;} 
.num{  height:33px;background:#fafafa;line-height:33px;padding:0 16px;border:1px solid #fff;}
.num .star{ width:60px; height:33px; background:url(../images/a-2.png) no-repeat 0;margin-right:5px;}
.mt_content_l .posit{ height:40px;position:absolute;left:10px;top:-4px;}
.mt_content_l .posit1,.mt_content_l .posit2,.mt_content_l .posit3{width:42px;height:40px; }
.mt_content_l .posit1{ background:url(../images/deallist.vb47e168b.png) no-repeat 0 -294px;}
.mt_content_l .posit2{ background:url(../images/deallist.vb47e168b.png) no-repeat 0 -168px;margin-left:-2px;}
.mt_content_l .posit3{ background:url(../images/deallist.vb47e168b.png) no-repeat 0 -252px;margin-left:-2px;}
.onload{ width:718px;height:41px;border:1px solid #ccc;text-align:center; line-height:41px;}
.page{ margin:40px 0 66px 184px;}
.page div{ float:left; width:34px;height:34px;border:1px solid #ccc;margin-right:5px;line-height:34px;text-align:center;}
.page a{ display:block; color:#2bb8aa; }
.page .p_last{ width:68px; background:url(../images/b-1.png) no-repeat 56px;}
.page div a:hover{ background:#2bb8aa;border:1px solid #54c8bc;color:#fff;}

.mt_content_r{ width:240px;margin-top:10px;}
.ul_1,.ul_2,.ul_3,.ul_4,.ul_5{ border:1px solid #ccc;margin-bottom:20px; }
.mt_content_r .ul_1 li{width:126px;height:112px;border-top:1px dashed #ccc;margin:0 auto;margin-top:-1px;padding-left:73px;}
.mt_content_r .ul_1 a{ display:block;margin-top:35px; font-size:18px;font-weight:bold;color:#000;}
.mt_content_r .ul_1 input{ height:24px;font-size:12px;color:#fff;border:0;margin-top:11px;padding:0 27px 0 13px;cursor:pointer;}
.mt_content_r .btn1{ background:url(../images/a-4.png) no-repeat 0 34px;}
.mt_content_r .btn2{ background:url(../images/a-5.png) no-repeat 0 34px;}
.mt_content_r .btn1 input{ background:#3acfb8 url(../images/a-6.png) no-repeat 67px; }
.mt_content_r .btn2 input{ background:#f46c57 url(../images/a-7.png) no-repeat 67px; }

.mt_content_r .ul_2{ height:462px;}
.ul_2 li,.ul_3 li,.ul_5 li{width:200px;margin:0 auto; margin-bottom:10px;}
.ul_2 h3 a,.ul_3 h3 a{ font-size:16px;color:#000; }
.ul_2 h3,.ul_3 h3{ margin-top:14px;}
.ul_3 li{ height:200px; border-bottom:1px dashed #ccc;margin-top:18px;}
.ul_3 .last{ border-bottom:none;}
.ul_3 .one{ height:12px; border-bottom:none; }
.ul_3 .like{ margin-top:10px;padding-left:3px;}
.ul_3 .like i{ font-style:normal;font-size:20px;margin-right:18px; font-weight:bold;}
.ul_3 p{ margin-top:10px;}
.ul_3 .like span{ margin-top:6px;}
.ul_3 p a{ color:#000;font-size:16px; }

.ul_5{ position:relative;padding-top:120px;}
.ul_5 .sch_zp{width:238px;height:120px; position:absolute; top:0;left:0;background:url(../images/a-5.jpg) no-repeat;border-bottom:none;}
.sch_zp input{ width:91px; height:23px;background:#82c464;border:none;color:#fff; position:absolute;left:16px;top:76px;cursor:pointer;}

.ul_5 li{width:160px; border-bottom:1px dashed #ccc; height:75px;line-height:22px;padding-left:40px;}
.ul_5 .one{ background:url(../images/a-8.png) no-repeat 0px 20px;}
.ul_5 .two{ background:url(../images/a-9.png) no-repeat 0px 20px;}
.ul_5 .three{ background:url(../images/a-10.png) no-repeat 0px 20px;border-bottom:none;}
.ul_5 a { display:block;}
.ul_5 h3 a{color:#000;display:block;padding-top:15px; }
.ul_5 a:hover{ color:#900;}

.friend_link{ border:1px solid #ccc;}
.friend_link .f_hd{ height:41px; border-bottom:1px solid #ccc;line-height:41px;background:#fafafa;}
.f_hd li{ float:left;height:40px;}
.f_hd li a{ height:39px;display:block; padding:0 16px;color:#00bbbb; border-left:1px solid #ccc;border-right:1px solid #ccc;margin-left:-1px;}
.f_hd li a.on{ border-top:2px solid #00bbbb;height:40px;background:#fff; color:#000;font-weight:bold; }
.friend_link div{ padding-top:11px;display:none;padding-bottom:5px;}
.friend_link div span{ margin-left:20px;line-height:20px;}
.friend_link div.show{ display:block; }

.footer{ margin-top:20px;border-top:4px solid #3aa2a2;background:#f6f6f6;padding-bottom:40px; }
.footer ul{ width:162px;height:156px;padding-left:25px;padding-top:24px;border-left:1px dashed #ccc;border-right:1px dashed #ccc;margin-right:-1px;margin-bottom:34px;}
.footer .tit{ font-size:14px; margin-bottom:12px;background:none;padding-left:0;}
.footer li{ line-height:20px;padding-left:16px; background:url(../images/b-3.png) no-repeat 4px;}
.footer .end{ width:202px;height:92px;padding-top:88px;background:url(../images/c-4.png) no-repeat center 20px;}
.footer .end li{background:none;}
.add_blue{ margin-bottom:15px;}
.add_blue a{  color:#2bb8aa;}
.footer li a:hover{ color:#f00;}

.footer_t{ position:relative;height:34px;width:980px;}
.footer_t p { position:absolute;left:50%;top:50%;margin-left:-144px;;margin-top:-8px;}
.footer_img{ padding-top:10px;padding-left:198px;}
.footer_img img{ margin-right:14px;}





















