/*header*/
.header{height:70px;border-bottom:2px solid #22ac38;background:#fff;}
.top .logo{background:url(../images/logo.png) no-repeat left;width:148px;margin-right:14px;height:70px}
.logo h1{text-indent:-99999px;}

.search {margin-top:17px;height:38px;}
.search div{width:462px;height:38px;}
.search div input{width:462px;height:38px;background:#eee;border:none;}
.search input{width:38px;height:38px;border:0;
background:url(../images/search.png) no-repeat;}

.top .wrapper{overflow: hidden;}
.top .info {margin-top:27px;width:320px;}
.top .info li{float:right;margin-left:13px;position:relative;}
.top .info li a{display:block;height:25px;line-height:25px;padding-left:32px;}

.mymovie a{background:url(../images/mymovie.png) no-repeat;}
.watch_record a{background:url(../images/watch_record.png) no-repeat;}
.app_download a{background:url(../images/app_download.png) no-repeat;}


.watch_record div{width:412px;height:260px;background:#fff;
border:1px solid green;position:absolute;right:0;top:30px;display:none;}
.watch_record:hover div{display:block;}



.top .info li a{color:#666;}


.nav{height:43px;background:#fff;line-height:43px;overflow:hidden;}
.nav li{float:left;margin-right:30px;}
.nav_l a{font-size:15px;color:#666;}
.nav_r{width:324px;}
.nav_r a{font-size:12px;color:#666;}




.banner{position:relative;height:455px;overflow:hidden;}
.banner_pic img{width:1920px;height:455px;}
#banner_pic{position:absolute;left:50%;top:0;margin-left:-960px;}
#banner_pic li{display:none;}
#banner_pic li.show{display:block;}
#banner_pic li img{width:1920px;height:455px;}

.banner .cont{position:relative;top:290px;width:1020px;height:455px;margin:0 auto;}
.banner .cont_txt a{color:#fff;}
.banner .cont_txt h3{font-size:34px;}
.banner .cont_txt p{font-size:16px;margin:28px 0 10px 0}

#pic_mini{padding-left:10px;}
#pic_mini li{float:left;margin-right:15px;width:97px;height:55px;position:relative;}
#pic_mini li div{width:97px;height:55px;position:absolute;top:0;left:0;
opacity:0.5;filter:alpha(opacity=50);background:#333;}
#pic_mini li img{width:97px;height:55px;}

#pic_mini li:hover div{width:93px;height:51px;position:absolute;top:0;left:0;
opacity:1;filter:alpha(opacity=100);background:none;border:2px solid green;}

/*main*/

.main .title{margin:40px 0 20px;}
.main .title h2{color:#2b2b2b;font-size:30px;font-weight:normal;}
.main .title ul{overflow:hidden;margin-left:30px;margin-top:13px;}
.main .title ul li:hover a{color:#22ac38;}
.main .title li{float:left;width:40px;height:20px;line-height:20px;border-left:1px solid #bdbdbd;
margin-left:-1px;padding-left:16px;}
.main .title li a{color:#242424;}
.main .title .more{width:48px;}
.main .title p{font-size:23px;margin-top:4px;}

/*focus*/
.focus .cont{height:288px;}
.focus .cont_l{background:#fff;width:376px;}
.focus .cont_l .news{display:block;position:relative;width:376px;height:254px;color:#fff;margin-bottom:8px;}
.focus .cont_l .news img{width:100%;height:100%;}
.focus .cont_l .news p{top:232px;width:372px;height:22px;line-height:22px;padding-left:4px;}
.focus .cont_l .news div{width:376px;height:254px;position:absolute;top:0;left:0;
background:#333;display:none;}
.focus .cont .news span{width:60px;height:60px;position:absolute;top:50%;left:50%;margin-left:-30px;
background:url(../images/hover.png) no-repeat center;margin-top:-30px;display:none;}
.focus .cont .news:hover div{display:block;opacity:0.4;filter:alpha(opacity=40);}
.focus .cont .tit{font-weight:normal;color:#444;line-height:26px;height:26px;display:block;text-indent:1em;}
.focus .cont .news:hover span{display:block;}
.focus .cont .tit:hover{color:#22ac38;}
.focus .cont .news p{font-size:12px;position:absolute;left:0;background:#333;opacity:0.9;filter:alpha(opacity=90);}

.focus .cont_c{width:372px;height:288px;overflow:hidden;}
.focus .cont_c li{margin:0 0 20px 6px;background:#fff;}
.focus .cont_c li .news{display:block;position:relative;width:180px;height:100px;color:#fff;margin-bottom:6px;}
.focus .cont_c .news img{width:100%;height:100%;}
.focus .cont_c .news p{top:78px;width:170px;height:22px;line-height:22px;padding-left:10px;}
.focus .cont_c .news div{width:180px;height:100px;position:absolute;top:0;left:0;
background:#333;display:none;}
.focus .cont_c .tit{line-height:28px;height:28px;}

.focus .cont_r{width:240px;overflow:hidden;background:#fff;height:288px;}
.focus .cont_r .news{display:block;position:relative;width:240px;height:120px;color:#fff;margin-bottom:13px;}
.focus .cont_r .news img{width:100%;height:100%;}
.focus .cont_r .news p{top:96px;width:240px;height:24px;line-height:24px;padding-left:10px;}
.focus .cont_r .news div{width:240px;height:120px;position:absolute;top:0;left:0;
background:#333;display:none;}
.focus .cont_r .txt p{line-height:30px;height:30px;font-size:12px;margin-left:9px;}

.tv{height:732px;overflow:hidden;}
.tv .list{width:762px;height:660px;}
.tv .list li{background:#fff;width:180px;height:310px;margin:0 10px 20px 0;}
.tv .list .series{display:block;position:relative;width:180px;height:246px;color:#fff;margin-bottom:6px;}
.tv .list .series img{width:100%;height:100%;}
.tv .list .series p{font-size:12px;position:absolute;top:222px;left:0;background:#333;opacity:0.9;
filter:alpha(opacity=90);width:160px;height:24px;line-height:24px;padding:0 10px}
.tv .list .series p b{font-weight:normal;}
.tv .list .series p em{color:#94ff77;font-size:16px;font-style:normal;}
.tv .list .series p span{font-size:10px;color:#d9d9d9;margin-top:2px;}
.tv .list li i {color:#a7a7a7;font-style:normal;display:block;line-height:26px;height:26px;text-indent:1em;}
.tv .list li .tit{line-height:24px;height:24px;display:block;text-indent:1em;}
.tv .list .series div{width:180px;height:246px;position:absolute;top:0;left:0;
background:#333;display:none;}

.tv .list li{position:relative;float:left;}
.tv .list li .txt p{font-size:11px;color:#fff;margin-bottom:14px;}
.tv .list li h5{position:absolute;top:34px;left:20px;font-size:16px;color:#fff;display:none;}
.tv .list li .txt{position:absolute;left:0;top:0;padding:100px 0 0 20px;
width:160px;height:146px;background:#333;opacity:0.7;filter:alpha(opacity=70);display:none;color:#fff;}
.tv .list li .play{display:none;width:180px;height:63px;position:absolute;left:0;top:246px;background:#87c556;}
.tv .list li .play p{color:#fff;font-size:18px;width:240px;height:63px;line-height:63px;
background:url(../images/green.png) no-repeat 30px;padding-left:70px;}
.tv .list li:hover h5{display:block;z-index:3;}
.tv .list li:hover .txt{display: block;}
.tv .list li:hover .play{display:block;}

.ranking li{width:240px;height:34px;line-height:34px;position:relative;}
.ranking li .normal p{height:24px;line-height:24px;width:240px;font-size:12px;}
.ranking li .retail{width:240px;height:120px;display:none;position:absolute;left:0;top:0;}
.ranking li .retail b{color:#fff;}
.ranking li b{font-weight:normal;}
.ranking li span{background:url(../images/btn_r.png) no-repeat 0;display:block;width:50px;height:24px;
padding-left:24px;margin-right:9px;line-height:24px;}

.ranking li .retail div{position:absolute;top:96px;left:0;background:black;opacity:0.5;filter:alpha(opacity=50);height:24px;width:240px;}
.ranking li .retail p{position:absolute;top:96px;left:0;height:24px;line-height:24px;
width:240px;font-size:12px;color:#fff;z-index:99;}
.ranking li .normal span{color:#aaa;}
.ranking li .retail span{color:#fff;}
.ranking li .normal em{color:green;font-style:normal;margin:0 10px;}
.ranking li .retail em{background:url(../images/order.png) no-repeat;display:block;width:24px;height:36px;
font-size:18px;color:#fff;font-weight:normal;line-height:36px;padding-left:12px;margin-top:-12px;}

.ranking li:hover .retail{display: block;}
.ranking li:hover {height:120px;}
.ranking li.show{height:120px;}
#on{display:block;}

.herald{margin-bottom:20px;height:178px;}
.herald ul{width:762px;height:135px;}
.herald ul li{float:left;margin-right:10px;background:#fff;text-align:center;}
.herald .title span{margin:14px 0 0 20px;}

.select{width:240px;height:213px;}
.select h3{margin:36px 0 20px 0;}
.select div{background:#fff;padding:16px 20px 4px;width:200px;height:118px;}
.select div p{margin-bottom:16px;font-size:13px;}

.plan .title ul li{width:67px;}
.plan .pic {width:619px;}
.plan .pic li{float:left;width:205px;height:203px;margin:0 1px 1px 0;}

.footer{text-align:center;margin-top:200px;}
.footer div{margin-bottom:16px;}

